<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.laitron.ezviz"
        version="0.7.0">

  <name>Ezviz</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/ezviz.js" target="js/ezviz.js"/>

  <js-module src="www/ezviz.js" name="ezviz">
    <clobbers target="ezviz" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ezviz">
        <param name="android-package" value="com.laitron.ezviz"/>
      </feature>
    </config-file>

    <source-file src="src/android/ezviz.java" target-dir="src/com/laitron/plugin/"/>
    <source-file src="libs/ezvizsdk.jar" target-dir="libs" framework="true"  />
  
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="ezviz">
        <param name="ios-package" value="LTEzviz" />
      </feature>
    </config-file>

    <header-file src="src/ios/ezviz.h" target-dir="EzvizPlugin"/>
    <source-file src="src/ios/ezivz.m" target-dir="EzvizPlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Hello.cs"/>
  </platform>

</plugin>
